

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" />
    <link href="css/all.css" rel="stylesheet" type="text/css" />
</head>

<body class="d-flex flex-column">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="user.html">Contoso University</a>
                <button class="navbar-toggler border-0 pr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav w-100">
                        <li class="nav-item ">
                            <a class="nav-link" href="#"routerLink="/student" >Student</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#" routerLink="/course">Courses</a>
                        </li>
                        <li class="nav-item dropdown  ml-lg-auto">
                            <a class="nav-link dropdown-toggle" href="#" id="login_user_action" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Welcome
                                <span>Prakash</span>
                            </a>
                            <div class="dropdown-menu login_user_action" aria-labelledby="login_user_action">
                                <a class="dropdown-item" href="#">Change Password</a>
                                <a class="dropdown-item" href="#" routerLink="/signin">Logout</a>

                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <main class="main">
        <div class="container">
            <div class="d-flex align-items-center mb-2">
                <h1>Courses</h1>
                <button [routerLink]="['/course', 1]" class="ml-auto btn btn-theme">Create New</button>
            </div>
            <div class="border rounded">
                <div class="flex-column flex-md-row d-flex">

                    <form class="form-inline p-2 ml-md-auto">
                        <label class=" mr-2" for="inlineFormCustomSelectPref">Preference</label>
                        <select class="form-control fs-14 filter_select" id="inlineFormCustomSelectPref">
                            <option selected>All</option>
                            <option value="1">Arts</option>
                            <option value="2">Deep...Studies</option>
                            <option value="3">Engineering</option>
                            <option value="4">Test</option>
                        </select>
                    </form>
                    <form class="form-inline p-2">
                        <input type="search" placeholder="Search Here..." class="form-control table_search_box" />
                    </form>
                </div>
                <div class="table-responsive">
                <table class="table mb-0 fs-14 table_md">
                    <thead>
                        <tr>
                            <th scope="col" style="min-width:110px;">Number
                                <a href="" class="ml-2">
                                    <i class="fas fa-sort"></i>
                                </a>
                            </th>
                            <th scope="col" style="min-width:180px;">Title
                                <a href="" class="ml-2">
                                    <i class="fas fa-sort"></i>
                                </a>
                            </th>
                            <th scope="col" style="min-width:140px;">Credits
                                <a href="" class="ml-2">
                                    <i class="fas fa-sort"></i>
                                </a>
                            </th>
                            <th scope="col" style="min-width:130px;">Department
                                <a href="" class="ml-2">
                                    <i class="fas fa-sort"></i>
                                </a>
                            </th>
                            <th scope="col" width="150" style="min-width:140px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Machine Learning</td>
                            <td>5</td>
                            <td>Engineering</td>
                            <td class="text-right">
                                <a href="create_course.html" class="mx-2" title="Edit">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>|
                                <a href="course_detail.html" class="mx-2" title="Details">
                                    <i class="fas fa-info-circle"></i>
                                </a>|
                                <a href="" class="mx-2 text-danger delete_record" title="Delete">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Software Engineering</td>
                            <td>5</td>
                            <td>Deep Studies</td>
                            <td class="text-right">
                                <a href="create_course.html" class="mx-2" title="Edit">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>|
                                <a href="course_detail.html" class="mx-2" title="Details">
                                    <i class="fas fa-info-circle"></i>
                                </a>|
                                <a href="" class="mx-2 text-danger delete_record" title="Delete">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="d-column d-md-flex px-3 py-2 justify-content-between text-center align-items-center border-top">
                        <label class="d-flex align-items-center mb-0 font-weight-normal justify-content-center">Show
                                <select class="form-control form-control-md mx-2 w-auto">
                                    <option value="10">5</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> entries</label>
                                <div class="my-3 my-lg-0 fs-14">Showing 1 to 5 of 57 entries</div>
                        <nav aria-label="Page navigation example">
                                <ul class="pagination m-0 justify-content-center">
                                  <li class="page-item">
                                    <a class="page-link d-flex align-items-cente" href="#" aria-label="Previous">
                                      <span aria-hidden="true"><<</span>
                                    </a>
                                  </li>
                                  <li class="page-item active"><a class="page-link d-flex align-items-cente" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link d-flex align-items-cente" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link d-flex align-items-cente" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link d-flex align-items-cente" href="#" aria-label="Next">
                                      <span aria-hidden="true">>></span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                  </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <p class="mb-0 py-3 text-gray-soft">RxWeb 2019</p>
        </div>
    </footer>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  
</body>

</html>