<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" />
</head> 

<body class="d-flex flex-column">
    <header><nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="user.html">Contoso University</a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav w-100">
                    <li class="nav-item">
                        <a class="nav-link" href=""routerLink="/student">Student</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""routerLink="/course">Courses</a>
                    </li>
                    <li class="nav-item dropdown  ml-lg-auto">
                            <a class="nav-link dropdown-toggle" href="#" id="login_user_action" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Welcome <span>Prakash</span>
                            </a>
                            <div class="dropdown-menu login_user_action" aria-labelledby="login_user_action">
                              <a class="dropdown-item" href="">Change Password</a>
                              <a class="dropdown-item" href="" routerLink="">Logout</a>
                              
                            </div>
                          </li>
                </ul>
            </div>

        </div>
    </nav>
</header>
    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto px-lg-4 mt-lg-5 pt-lg-4">
                    <!-- <img src="images/logo.png" class="img-fluid d-block mx-auto mb-3" width="95" height="95" alt="logo" /> -->
                    <a class="text-center d-block mb-5 logo_text" href="user.html">Contoso University</a>
                    <form class="account_form"[formGroup]="editStudentFormGroup">
                        <div class="row">
                            <div class="col-sm-6">
                                    <div class="form-group">
                                            <label for="exampleInputEmail1">ID<span class="required ml-1 text-danger font-weight-bold">*</span></label>
                                            <input type="text" value="abc" formControlName="id" class="form-control is-invalid" disabled>
                                            <!-- <div class="invalid-feedback">This field is required</div> -->
                                        </div> 
                            </div>
                            <!-- <div *ngFor="let stud of items">
                              {{stud.name   }}
                            </div> -->
                            <div class="col-sm-6">
                                    <div class="form-group">
                                            <label for="exampleInputEmail1">Name<span class="required ml-1 text-danger font-weight-bold">*</span></label>
                                            <input type="text" value="def" formControlName="name" class="form-control">
                                            <!-- <div class="invalid-feedback">This field is required</div> -->
                                        </div>
                            </div>
                        </div>
                        <div class="form-group">
                                <label for="exampleInputEmail1">Email Address<span class="required ml-1 text-danger font-weight-bold">*</span></label>
                                <input type="email" value="abc@gmail.com" formControlName="emailId" class="form-control">
                                <!-- <div class="invalid-feedback">This field is required</div> -->
                            </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password<span class="required ml-1 text-danger font-weight-bold">*</span></label>
                            <input type="password" formControlName="password" value="123" class="form-control">
                            <!-- <div class="invalid-feedback">This field is required</div> -->
                        </div>
                        <div class="form-group pt-3 pb-4">
                        <!-- <button type="submit" class="btn btn-theme btn-block form_submit_btn_lg">Create User</button> -->
                        <button (click)="editStudent()"  class="btn btn-theme btn-block form_submit_btn_lg">Update Student</button>
                        </div>
                    </form>
                    <!-- <p class="small text-center text-gray-soft mb-2">By clicking "Sign up" you agree to our <a href="#">Terms of Service</a>
                    </p>
                    <p class="text-gray-soft text-center small mb-2">Already have an account? <a href="signin.html">Sign in</a></p>
                    <p class="text-gray-soft text-center small">Trying to sign up to sell themes? <a href="#">Apply to be a seller.</a></p> -->
                </div>
            </div>
        </div>
    </main>
   
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>